<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="D:\Documents/Path of Building/Builds/Coach/PoeCoachIV-70.xml"/>
		<Arg string="PoeCoachIV-70"/>
	</Mode>
	<Accounts lastAccountName="DeeCovana" lastRealm="PC">
		<Account accountName="DeeCovana"/>
		<Account accountName="SteamCovan"/>
		<Account accountName="alpen46"/>
	</Accounts>
	<SharedItems/>
	<Misc betaTest="false" connectionProtocol="nil" colorNegative="^xDD0022" thousandsSeparator="," showThousandsSeparators="true" colorPositive="^x33FF77" buildSortMode="NAME" invertSliderScrollDirection="false" showTitlebarName="true" POESESSID="b5eba6e9f3a4977be9fa7b5752fe3807" disableDevAutoSave="false" colorHighlight="^xFF0000" slotOnlyTooltips="true" defaultCharLevel="1" showWarnings="true" decimalSeparator="." defaultItemAffixQuality="0.5" nodePowerTheme="RED/BLUE" defaultGemQuality="0"/>
</PathOfBuilding>
