<?xml version="1.0" encoding="UTF-8"?>
<PathOfBuilding>
	<Mode mode="BUILD">
		<Arg string="D:\Documents/Path of Building/Builds/EleWOC-98.xml"/>
		<Arg string="EleWOC-98"/>
	</Mode>
	<Accounts lastRealm="PC" lastAccountName="SteamCovan">
		<Account accountName="DeeCovana"/>
		<Account accountName="SteamCovan"/>
		<Account accountName="alpen46"/>
	</Accounts>
	<SharedItems/>
	<Misc colorHighlight="^xFF0000" showThousandsSeparators="true" thousandsSeparator="," decimalSeparator="." defaultItemAffixQuality="0.5" showTitlebarName="true" showWarnings="true" slotOnlyTooltips="true" betaTest="false" defaultGemQuality="0" defaultCharLevel="1" invertSliderScrollDirection="false" disableDevAutoSave="false" connectionProtocol="nil" nodePowerTheme="RED/BLUE" POESESSID="b5eba6e9f3a4977be9fa7b5752fe3807" colorPositive="^x33FF77" buildSortMode="NAME" colorNegative="^xDD0022"/>
</PathOfBuilding>
